.App {
    text-align: left;
    display: flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 50px 60px;
    background: #F8FBF9;
    overflow: hidden;
}

.Text-content {
    flex: 0 0 40%;
    z-index: 998;
    /*margin: 50px;*/
    /*border: black 1px solid;*/
}

.Text-content h1 {
    font-family: Inter;
    font-weight: 400;
    font-size: 40px;
    leading-trim: NONE;
    line-height: 55px;
    vertical-align: middle;
    text-transform: capitalize;
}

.Text-content desc {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 35px;
    vertical-align: middle;

    color: #A5A5A5;
}

.Upload-content {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    box-sizing: border-box;

    /*border: black 1px solid;*/
}

.White-panel {
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 32px;
    background: white;
    z-index: 999;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    box-shadow: 0px 2px 20px 0px #13437026;
    /*border: black 1px solid;*/
}

.White-panel-title {
    width: 70%;
    /*border: black 1px solid;*/
}

.White-panel h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 35px;

}

.White-panel-upload-window {
    width: 70%;
    height: 55%;
}

.White-panel-button {
    height: 10%;
    border: black 1px solid;
}

.Withe-panel-progress-bar {
    height: 10%;
    border: black 1px solid;
}

.Standard-button {
    margin: 10px;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    background-color: #1B5AFF;
    color: white;
    font-size: 26px;

    transition: all 0.3s ease;
}

.Standard-button:hover {
    cursor: pointer;
    box-shadow: 0 4px 12px rgb(103, 103, 103);
}

.Standard-button:disabled {
    opacity: 60%;
    cursor: not-allowed;
}

.Withe-panel-progress-bar {
    border: black 1px solid;
}

.Image-upload-your-resume {
    position: fixed;
    left: -50px;
    bottom: -50px;

    z-index: 100;

    /*border: black 1px solid;*/
}

/*from FileUploadWindow*/
.upload-window-entity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #F2FAFF;
    border: 1px dashed #0538BB;
    border-radius: 15px;

    width: 100%;
    height: 85%;
    /*border: black 1px solid;*/
}

.uploaded-list {
    width: 100%;
    height: 15%;
    border: black 1px solid;
}

.upload-window-entity:hover {
    cursor: pointer;
}

.upload-window-entity img {
    width: 10%;
    height: 10%;
}

.upload-window-entity desc {
    vertical-align: middle;
    horiz-align: center;
    text-align: center;
    width: 80%;
    height: 10%;

    color: #A5A5A5;
    margin: 10px;
}
